body {
    font-family: sans-serif;
    background-image:linear-gradient(lightgreen,blue);
}
h1 {
  background-image:linear-gradient(blue, yellow);
  margin: auto;
  width: 50%;
  text-align:center ;
  box-shadow: 5px 5px 2px 0 black ;
}
header {
    background-image:linear-gradient(yellow,blue);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px 0 black
}
.link-text {
  color: rgb(185, 185, 4);
}
footer {
   background-image:linear-gradient(yellow,blue);
   box-shadow: 5px -5px 2px 0 black;

}
.link-header {
    text-decoration: none;
    border:3px solid black;
    padding:10px;
    background-image:linear-gradient(blue, yellow);
    border-radius: 5px;
    color: rgb(60, 0, 255);
}
.imgg {
  width: 500px;
  border-radius: 29px;
    box-shadow: 5px 5px 2px 0 black ;
     border: 5px solid lightgreen;
     margin-bottom:20px ;
}


  


